{% extends 'layout/base.html' %}

{% block title %} Trang chu {% endblock %}

{% block css %}
<link rel="stylesheet" href="../static/css/base.css"/>
{%endblock%}
{% block js %}
<script src="{{ url_for('static', filename='js/base.js') }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

{%endblock%}

{% block header %}
<style>
    #table1 {
        border: 1px solid black;
        border-collapse: collapse;
        width: 500px;
        text-align: center;
        vertical-align: middle;
        padding: 10px;
        margin: 10px auto;
        background-color: #f2f2f2;
        color: #333;
        font-family: Arial, sans-serif;
        font-size: 16px;
    }

    th, td {
        text-align: center;
    }

    img {
         object-fit: cover;  /* Điều chỉnh kích thước để phủ kín */
         width: 100%;  /* Chiều rộng 100% (tùy chọn) */
    }
</style>
{% endblock %}

{% block content %}

<div class="tabs-to-dropdown">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{url_for('home')}}">Bùi Tiến Phát</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                    aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{url_for('home')}}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('restaurant')}}">Restaurant Job</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('sentiment')}}">Sentiment Analysis</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-company" role="tabpanel" aria-labelledby="pills-company-tab">
            <div class="container-fluid">
                <h2 class="mb-3 font-weight-bold">About data</h2>
                <h3>Chúng tôi đã sử dụng bộ dữ liệu Shoppe food</h3>

                <p>Bộ dữ liệu Shopee Food bao gồm các cột sau:</p>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Cột</th>
                        <th scope="col">Mô tả</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">ID</th>
                        <td>Mã định danh duy nhất cho mỗi đánh giá.</td>
                    </tr>
                    <tr>
                        <th scope="row">User</th>
                        <td>Mã định danh duy nhất cho người dùng thực hiện đánh giá.</td>
                    </tr>
                    <tr>
                        <th scope="row">Time</th>
                        <td>Thời điểm đánh giá được thực hiện.</td>
                    </tr>
                    <tr>
                        <th scope="row">Rating</th>
                        <td>Đánh giá của người dùng (thường là thang điểm từ 1 đến 10).</td>
                    </tr>
                    <tr>
                        <th scope="row">Comment</th>
                        <td>Bình luận của người dùng về trải nghiệm.</td>
                    </tr>
                    <tr>
                        <th scope="row">IDRestaurant</th>
                        <td>Mã định danh duy nhất cho nhà hàng được đánh giá.</td>
                    </tr>
                    </tbody>
                </table>
                <h3> Một số data mẫu</h3>
                <h4> Data người dùng đánh giá nhà hàng: </h4>
                <table class="table table-striped table-dark">
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            User
                        </th>
                        <th>
                            Time
                        </th>
                        <th>
                            Rating
                        </th>

                        <th>
                            Comment
                        </th>
                        <th>
                            IDRestaurant
                        </th>

                    </tr>

                    {% for i, row in data_mau.iterrows() %}
                    <tr id="data_mau{{row.id}}">
                        <td>{{row.ID}}</td>
                        <td>{{row.User}}</td>
                        <td>{{row.Time}}</td>
                        <td>{{row.Rating}}</td>
                        <td>{{row.Comment}}</td>
                        <td>{{row.IDRestaurant}}</td>
                    </tr>
                    {%endfor%}
                </table>

                <h4> Data các nhà hàng: </h4>
                <table class="table table-bordered table-dark">
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Restaurant
                        </th>
                        <th>
                            Address
                        </th>
                        <th>
                            Time
                        </th>

                        <th>
                            Price
                        </th>
                        <th>
                            District
                        </th>

                    </tr>

                    {% for i, row in data_nha_hang_mau.iterrows() %}
                    <tr id="product{{row.id}}">
                        <td>{{row.ID}}</td>
                        <td>{{row.Restaurant}}</td>
                        <td>{{row.Address}}</td>
                        <td>{{row.Time}}</td>
                        <td>{{row.Price}}</td>
                        <td>{{row.District}}</td>
                    </tr>
                    {%endfor%}
                </table>

                <h3> Mục đích sử dụng</h3>
                <p>Bộ dữ liệu Shopee Food có thể được sử dụng cho nhiều mục đích khác nhau, bao gồm:</p>

                <ul>
                    <li>Phân tích mức độ hài lòng của khách hàng với các nhà hàng Shopee Food.</li>
                    <li>Xác định các nhà hàng có hiệu suất tốt và kém.</li>
                    <li>Cải thiện trải nghiệm của khách hàng trên Shopee Food.</li>
                    <li>Phát triển các chiến lược marketing và quảng cáo cho Shopee Food.</li>
                </ul>
                <p>Bộ dữ liệu này có thể hữu ích cho các nhà nghiên cứu, nhà phân tích dữ liệu, và các nhà quản lý trong
                    lĩnh vực thương mại điện tử và dịch vụ giao thức ăn.</p>

                <h3> EDA</h3>

                <img src="../static/image/plot.png">


                <h4> Nhận xét</h4>
                <table class="table table-bordered">
                    <tr>
                        <th>
                            Phân tích tổng thể
                        </th>
                        <th>
                            Phân tích chi tiết
                        </th>
                        <th>
                            Kết luận
                        </th>

                    </tr>

                    <tr>
                        <td>Biểu đồ hình tròn thể hiện tỉ lệ phần trăm số lượng nhà hàng tại các quận của một thành phố.
                            Biểu đồ được chia thành 12 phần, mỗi phần đại diện cho một quận. Quận 1 có số lượng nhà hàng
                            cao nhất (chiếm 12.2%). Quận 9 và Quận 11 có số lượng nhà hàng thấp nhất (cùng chiếm 4.1%)
                        </td>
                        <td>
                            Nhóm quận có số lượng nhà hàng cao (trên 10%): Quận 1: 12.2% Quận 3: 12.1% Quận 4: 12.1%
                            Quận 5: 12.1% Nhóm quận có số lượng nhà hàng trung bình (5% - 10%): Quận 2: 8.7% Quận 6:
                            7.3% Quận 7: 7.0% Quận 10: 5.7% Nhóm quận có số lượng nhà hàng thấp (dưới 5%): Quận 8: 4.4%
                            Quận 9: 4.1% Quận 11: 4.1%
                        </td>
                        <td>
                            Biểu đồ cho thấy sự phân bố không đồng đều số lượng nhà hàng giữa các quận. Khu vực trung
                            tâm thành phố (Quận 1, 3, 4, 5) có mật độ nhà hàng cao nhất. Khu vực ngoại thành (Quận 8, 9,
                            11) có mật độ nhà hàng thấp nhất.
                        </td>

                </table>

                <h3>Các tính từ được comment nhiều nhất</h3>

                <img src="../static/image/stopword_Adj.png">

                <h4> Biểu đồ đám mây này cho thấy: </h4>

                Các tính từ phổ biến nhất: Ngon, đặc biệt, nhiều ổn.
                <h4> Những tính từ này tiết lộ: </h4>

                <table class="table table-bordered">
                    <tr>
                        <th>
                            Điều gì quan trọng nhất đối với thực khách
                        </th>
                        <th>
                            Mức độ hài lòng
                        </th>
                        <th>
                            Từ ngữ thường được sử dụng để mô tả nhà hàng
                        </th>

                    </tr>

                    <tr>
                        <td>Thực khách quan tâm nhất đến hương vị món ăn, chất lượng
                            dịch vụ, giá cả và không gian nhà hàng.
                        </td>
                        <td>
                            Mức độ hài lòng của thực khách: Nhìn chung, thực khách hài lòng với trải nghiệm ăn uống tại
                            nhà hàng.
                        </td>
                        <td>
                            Từ ngữ thường được sử dụng để mô tả nhà hàng: Thực khách thường sử dụng các từ ngữ tích cực
                            để mô tả nhà
                            hàng, như "ngon", "tuyệt vời", "phục vụ tốt", "giá cả hợp lý", "không gian đẹp".
                        </td>

                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}


