{% extends 'layout/base.html' %}

{% block title %} Trang chu {% endblock %}
{% block css %}
    <link href="{{ url_for('static', filename='css/register.css') }}"
          rel="stylesheet"/>

{%endblock%}

{% block content %}

<br>
<div class="container">
    {% if products %}
    <div class="row">
        {% for p in products %}
        <div class="col-md-3 col-sm-12" style="padding:1rem;">
            <div class="card">
                <img class="card-img-top" src="{{ p.image }}" alt="{{ p.name }}" height="380px">
                <div class="card-body">
                    <h4 class="card-title">{{ p.name }}</h4>
                    <p class="card-text">{{ "{:,.1f}".format(p.price) }} VNĐ</p>
                    <a href="{{url_for('product_detail', product_id=p.id)}}" class="btn btn-primary">Xem chi tiết</a>
                    <a href="javascript:;" onclick="addToCart({{p.id}}, '{{p.name}}', {{p.price}})"
                       class="btn btn-danger" onclick="addToCart({{p.id}}, '{{p.name}}', {{p.price}})">Đặt hàng</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <h4 class="text-danger">Không có sản phầm nào!</h4>
    {% endif %}

    <ul class="pagination d-flex justify-content-center">
        {%if pages > 1%}
        {% for i in range(1, pages + 1) %}
            <li class="page-item"><a class="page-link" href="{{url_for('product_list', page=i, category_id=cate_id)}}">{{i}}</a></li>
        {% endfor %}
        {%endif%}
    </ul>
</div>


<!--tuyet roi-->


{% endblock %}
